[*]
end_of_line = lf
charset = utf-8
indent_style = space

[*.py]
indent_size = 4

[*.html]
indent_size = 2

[*.js]
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4

[*.proto]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 8

[*.md]
indent_style = space
indent_size = 4
