<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MUNI Sign Configuration</title>
    <meta name="description" content="Configuration for the MUNI sign">
    <meta name="author" content="Sean Harger">

    <link rel="stylesheet" href="/public/css/styles.css?v=1.0">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    {{template "index-content" .}}
  </body>
</html>
